/*



allgemein



*/
:root {
    --font-color: #122b40;
    --theme-color: #4CAF50;
    --theme-hover-color: #09b812;
    --links-color: #246c88;
    --form-button-padding: 0 5px 0 20px;
    --theme-shadow: 2px 3px 2px lightgrey;
    --warning-color: orangered;
}
header{
    border-bottom: solid 1px var(--font-color);
}
body{
    background: white;
    font-family: 'Muli', Sans-Serif, 'Arial';
    font-size: 20px;
    color: var(--font-color);
    letter-spacing: 1.5px; /* macht die gesamte Schrift aus!*/
    text-align: center;
}
aside {
    border: dashed 1px;
    display: block;
    float: right;
    width: 40%;
    margin: 0 0 0 1%;
}
section{
    border: dashed 1px;
    display: block;
    float: left;
    width: 55%;
    min-width: 50%;
    margin: 0 1% 0 0;
}
footer {
    clear: both;
    margin-bottom: 0;
}
div{
    /*border : 1px dashed #d3d3e3         /*  ZU TESTZWECKEN  */
}
h,p{
    color: var(--font-color);
}
a{
    padding: 0;
    text-decoration: none;
    position: relative;
    display: inline-block;
    /*border: dashed;     /*  ZU TESTZWECKEN  */
    color: var(--links-color);

}
a:before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 90%;
    border-bottom: solid 1px var(--links-color);
    -webkit-transition: all .5s;
}
a:hover:before{
    width: 100%;
}
.container{
    position: relative;
}
.center{
    position: absolute;
    left: 0;
    top: 10%;
    width: 100%;
}
.align-right{
    text-align: right;
}
button{
    font-size: 14px;
    background-color: var(--theme-color);
    border: none;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    margin: 4px 2px 4px 25px;
    cursor: pointer;
    width: auto;
    box-shadow: var(--theme-shadow);
}
button:hover{
    font-size: 14px;
    background-color: var(--theme-hover-color);
    border: none;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    margin: 4px 2px 4px 25px;
    cursor: pointer;
    width: auto;
    box-shadow: none;
}

.button-small {
    font-size: 12px;
    padding: 4px;
    margin: 0;
    cursor: pointer;
}
.button-small:hover{
    font-size: 12px;
    padding: 4px;
    margin: 0;
}

.layout-table{
    width: 100%;
    margin: 15px 0 15px 0;
}
.layout-table-td{
    vertical-align: top;
}
.message{
    padding: 20px 0 20px 0;
    color: white;
    background-color: var(--theme-color);
    font-size: 20px;
    letter-spacing: 1px;
}
.error{
    padding: 20px 0 20px 0;
    color: white;
    background-color: var(--warning-color);
    font-size: 20px;
    letter-spacing: 1px;
    /*border: solid 1.5px red;*/
}

#blur-background
{
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: #fefefe;
    opacity: 0.7;
    z-index: 9999;
}

#dialog-box
{
    display: none;
    position: fixed;
    width: 480px;
    z-index: 9999;
    border-radius: 3px;
    background-color: var(--warning-color);
    box-shadow: var(--theme-shadow);
}

#dialog-header
{
    padding: 10px;
    font-size: 24px;
    margin: 2px 2px 0 2px;
    color: white;
    background-color: var(--warning-color);
}
#dialog-body
{
    padding: 8px 10px 8px 10px;
    font-size: 19px;
    margin: 0 2px 0 2px;
    background-color: white;
}
#dialog-footer
{
    padding: 8px;
    margin: 0 2px 2px 2px;
    background-color: white;
}
#dialog-button
{
    color: var(--font-color);
    border: solid 1px;
    background-color: white;
}
.hidden-text{
    display: none;
    padding: 0 0 0 0px;
    margin: 0 0 0 10px;
    color: gray;
    font-size: 12px;
    letter-spacing: 1px;
    /*border: dashed;     /*  ZU TESTZWECKEN  */
}
