/*


header, navigation


*/

#brand-name{
    font-size: 30px;
    color: gray;
}
.unlinked-text{
    padding: 0 0 0 0px;
    margin: 0 0 0 10px;
    color: gray;
    font-size: 12px;
    letter-spacing: 1px;
    /*border: dashed;     /*  ZU TESTZWECKEN  */
}

#login-logout-div{
    padding: 0 20px 0 0;
    position: absolute;
    right: 0px;
    top: 10px;
    text-align: right;
}
#login-logout{
    font-size: 13px;
    letter-spacing: 1.5px;
    /*border: dashed;   /* ZU TESTZWECKEN */
}
#header-navigation-ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: left;
}
.header-navigation-li{
    padding: 10px 40px 50px 20px;
    display: inline-block;
    font-size: 22px;
    /*border: dashed;       ZU TESTZWECKEN*/
}
#active{
    color: #4CAF50;
}
.header-navigation-li a:before{
    border-bottom: solid 1.5px #122b40;
}

