/*



Forms



*/
input, textarea{
    width: 230px;
    padding: 12px 20px;
    margin: 0;
    box-sizing: border-box;
    border: none;
    border-bottom: solid 1.5px var(--font-color);
    font-size: 19px;
}
input[type=text], input[type=password], textarea {
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
input:focus, textarea:focus{
    width: 270px;
}

select {
    width: auto;
    padding: 16px 20px;
    border: none;
    border-radius: 1px;
    background-color: #f1f1f1;
    cursor: pointer;
}
input[type=button], input[type=submit], input[type=reset]{
    font-size: 14px;
    background-color: var(--theme-color);
    border: none;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    margin: 4px 2px 4px 25px;
    cursor: pointer;
    width: auto;
    box-shadow: var(--theme-shadow);
}
input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover {
    font-size: 14px;
    background-color: var(--theme-hover-color);
    border: none;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    margin: 4px 2px 4px 25px;
    cursor: pointer;
    width: auto;
    box-shadow: none;
}
.input-small
{
    margin: 12px 0 0 0;
    font-size: 15px;
    width: 200px;
}
.input-small:focus
{
    width: 220px;
}
.input-search
{
    text-align: right;
    width: 280px;
}
.input-search:focus
{
    width: 330px;
}

#input-textarea
{
    height: 150px;
    border: solid 1.5px gray;
}
#input-textarea-full
{
    width: 100%;
    height: 100px;
    border: solid 1.5px gray;
}
#input-days
{
    width: 65px;
}
#input-days:focus{
    width: 70px;
}
#input-years
{
    width: 85px;
}
#input-years:focus{
    width: 90px;
}
#input-zip-code
{
    width: 100px;
}
#input-zip-code:focus{
    width: 120px;
}
#input-city
{
    width: 180px;
}
#input-city:focus{
    width: 210px;
}


.form-table{
    width: 100%;
    border: none;
}

.form-table-label-td{
    vertical-align: middle;
    text-align: right;
    border: none;
    padding: 0 15px 0 15px;
    /*width: 100%;*/
}

.form-table-input-td{
    /*width: 100%;*/
    text-align: left;
    border: none;
    padding: 10px 0 10px 0;
}

.form-label{
    font-size: 15px;
    color: var(--font-color);
    letter-spacing: 0px;
    vertical-align: middle;
}
.score {
    font-size: 30px;
    color: var(--theme-color);
}
.gray{
    color: gray;
}
.bold{
    font-weight: bold;
}

.form-label-checkbox
{
    margin-bottom: 10px ;
    font-size: 15px;
    color: gray;
    vertical-align: top;
}


.form-score-input{
    font-size: 10px;
    width: 100px;
}
.search-button{
    color: white;
    font-size: 7px;
    visibility: hidden;
}

.radio-input {
    display: none;
}

.radio-label {
    cursor: pointer;
    /*margin: 10px 10px;*/
    margin: 0;
    padding: var(--form-button-padding);
    transform: translate(0, 10px);
}

.radio-label:before {
    content: '';
    display: inline-block;
    height: 30px;
    width: 30px;
    background: white;
    border: solid 2px gray;
    border-radius: 50%;
    z-index: 2;
    transition: box-shadow .4s ease,
    background .3s ease;
    transform: translate(0, 10px);
}

.radio-input:checked + .radio-label:before {
    border: solid 1.5px var(--theme-color);
    box-shadow: inset 0px 0px 0 5px white;
    background: var(--theme-color);
    transform: translate(0, 10px);
}

.elles-dropdown
{
    padding: var(--form-button-padding);
}

.dropdown {

    position: relative;
    display: inline-block;
}
.dropdown-content-info {
    padding: 3px;
    text-align: left;
    font-size: 12px;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown:hover .dropdown-content-info {
    display: block;
}
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}





[for=default] {
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1) inset, 0 0 1px rgba(0, 0, 0, 0.1) inset, 0 10px 0 rgba(0, 0, 0, 0.05) inset;
    box-sizing: border-box;
    font-size: 10px;
    font-family: Arial, sans-serif;
    height: 22px;
    width: 52px;
    display: inline-block;
    position: relative;
    overflow: hidden;
    background: transparent;
    border: 1px solid gray;
    border-radius: 10px;
    margin: 0 0em;
}
[for=default] input {
    height: 20px;
    width: 52px;
    display: block;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 1;
    opacity: 0;
}
[for=default] input:checked ~ .switch {
    left: 30px;
}
[for=default] .switch {
    -webkit-transition: .3s all ease;
    transition: .3s all ease;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1), 0 0 1px 1px rgba(255, 255, 255, 0.7) inset, 0 0 1px 0 rgba(0, 0, 0, 0.5);
    background: #e7e7e7;
    text-transform: uppercase;
    display: block;
    height: 20px;
    width: 20px;
    left: -1px;
    position: absolute;
    pointer-events: none;
    border-radius: 50%;
}
[for=default] .switch:before, [for=default] .switch:after {
    width: 32px;
    height: 20px;
    position: absolute;
    z-index: -1;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
    white-space: nowrap;
    line-height: 2;
}
[for=default] .switch:before {
    color: #fff;
    background: var(--theme-color);
    text-align: right;
    padding-right: 15px;
    content: "";
    right: 10px;
}
[for=default] .switch:after {
    color: #666;
    background: #f5f2f2;
    content: "";
    padding-left: 15px;
    left: 10px;
}

[for=blerg] {
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1) inset, 0 0 1px rgba(0, 0, 0, 0.1) inset, 0 26px 0 rgba(0, 0, 0, 0.05) inset;
    box-sizing: border-box;
    font-size: 26px;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    height: 54px;
    width: 230px;
    display: inline-block;
    position: relative;
    overflow: hidden;
    background: transparent;
    border: 1px solid #ccc;
    border-radius: 26px;
    margin: 0 0em;
}
[for=blerg] input {
    height: 52px;
    width: 230px;
    display: block;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 1;
    opacity: 0;
}
[for=blerg] input:checked ~ .switch {
    left: 176px;
}
[for=blerg] .switch {
    -webkit-transition: .3s all ease;
    transition: .3s all ease;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1), 0 0 1px 1px rgba(255, 255, 255, 0.7) inset, 0 0 1px 0 rgba(0, 0, 0, 0.5);
    background: #e7e7e7;
    text-transform: uppercase;
    display: block;
    height: 52px;
    width: 52px;
    left: -1px;
    position: absolute;
    pointer-events: none;
    border-radius: 50%;
}
[for=blerg] .switch:before, [for=blerg] .switch:after {
    width: 178px;
    height: 52px;
    position: absolute;
    z-index: -1;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
    white-space: nowrap;
    line-height: 2;
}
[for=blerg] .switch:before {
    color: #fff;
    background: #5297ff;
    text-align: right;
    padding-right: 39px;
    content: "Switch On";
    right: 26px;
}
[for=blerg] .switch:after {
    color: #666;
    background: #f5f2f2;
    content: "Switch Off";
    padding-left: 39px;
    left: 26px;
}

