/*


Tabelle


*/
.table-center {
    padding: 0;
    margin: 0;
    width: 100%;
    /*border: 1px dashed gray;*/
}

.info-table
{
    width: 100%;
    border-collapse: collapse;
}
.info-table-header{
    background-color: ghostwhite;
}
.info-table-header td{
    color: black;
    font-size: 18px;
}
.info-table td{
    padding: 10px 10px 7px 10px;
    border-top: 1px solid #ddd;
    font-size: 20px;
    text-align: left;
    color: #1b6d85;
}
.info-table-last-row td{
    border-bottom: none;
}
.td-small{
    font-size: 17px;
    color: #122b40;
}
.td-small p{
    padding: 0;
    margin: 0;
    font-size: 15px;
    color: gray;
}
.table-pagination{
    text-align: center;
    font-weight: normal;
    font-size: 16px;
}
.table-tr:hover {
    background-color: ghostwhite;
}

.table-action-a{
    font-size: 15px;

}
.component{
    vertical-align: top;
    padding: 0;
    border: none;
    /*border: 1px dashed gray;  /* ZUM TESTEN */
}
.component td{
    padding: 0;
    border: none;
}
.left tr{
    text-align: left;
}
.link-button
{
    padding: 5px;
    text-decoration: none;
    position: relative;
    display: inline-block;
    color: var(--links-color);
    background: none;
    box-shadow: none;
}
.link-button:before
{
    background: none;
    box-shadow: none;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 90%;
    border-bottom: solid 1px var(--links-color);
    -webkit-transition: all .5s;
}
.link-button:hover
{
    padding: 5px;
    color: var(--links-color);
    background: none;
    box-shadow: none;
}
.link-button:hover:before
{
    background: none;
    box-shadow: none;
    width: 100%;
}



